$c1 : #fda;
$c2 : steelblue;

body {
	background-color: lighten(#fda,5%);
	background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 10px, 20px, 50px, 70px;
}
body, .content-area {
	max-width: 100% !important;
	margin: 0 !important;
}
.header, .footer, .row {
	max-width: 90% !important;
}
.header h1 a {
	padding: 1em;
	background: rgba(coral,0.8);
	color: #fff;
}
.header, .footer, {
	background-color: rgba(lighten(coral,10%), 0.5);
	background-image: linear-gradient(0deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(0deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(0deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(0deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 1px, 1px, 1px, 50px;
	border: 1px solid rgba(lighten(coral,5%), 0.9);
	border-radius: 5px;
}
.header, .footer {
	margin: 3% auto !important;
	padding: 3% 0 0 0 !important;

}
.header-menu {
	width: 70%;
	margin: 5% auto 0;
}
ul.menu li {
	line-height: 1em;
	text-align: center;
	decoration-syle: none;
	display: inline-block;
	width: 18%;
	border-right: 2px solid coral;
}
ul.menu li a {
		color: darken(skyblue,15%);
}
ul.menu li:last-child {
	border: none;
}
.title-front h3 {
	color: coral;
	margin: 5% 0 0 0;
}
p.norm, {
	width: 70%;
	margin: 3% auto 5%;
	text-align: left;
	color: darken(skyblue,25%);
}
.footer p {
	color: darken(skyblue,25%);
}
.row {
	// background-color: rgba(lighten(lightblue,10%),.3);
	// background-image: linear-gradient(0deg, rgba(255,255,255,.07) 50%, transparent 50%),
	// linear-gradient(0deg, rgba(255,255,255,.13) 50%, transparent 50%),
	// linear-gradient(0deg, transparent 50%, rgba(255,255,255,.17) 50%),
	// linear-gradient(0deg, transparent 50%, rgba(255,255,255,.19) 50%);
	// background-size: 10px, 20px, 30px, 60px;

	margin: 2% auto 3%;
	padding: 0 2% 4% 2%;
	//border: 2px solid #ccc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	box-shadow: 0 0 20px 10px rgba(#000,.7);
	border-radius: 5px;
}
.piezas-wrapper, .blog-front-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}
.pieza, .blog-front-wrapper a {

	background-color: rgba(lighten(coral,10%), 0.5);
	background-image: linear-gradient(0deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(0deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(0deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(0deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 1px, 1px, 1px, 5px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	box-shadow: 0 0 20px 10px rgba(#000,.7);
	width: 40%;
	height: 40em;
	border: 1px solid #aaa;
	margin: 5% 2% 2% 2%;
	padding: 0;
	border: 1px solid rgba(lighten(coral,10%), 0.9);
	border-radius: 3px;
	color: coral;
	perspective: 800px !important;
}
.pieza:hover .rotate {
	transform: rotateY(180deg);
}
.rotate {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	height: 90%;
	position: relative;
	transform-style: preserve-3d !important;
	transition: transform 1s !important;
}
.front, .pieza-col2 {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
.pieza-col2 {
	padding: 10%;
	background: rgba(steelblue, .9);
	transform: rotateY(180deg);
	backface-visibility: hidden;
	overflow: scroll;
}
.pieza-col2 p {
	font-size: 18px;
}
.front {
	transform: rotateY(0deg);
}
.front a img {
	width: 100%;
	height: 100%;
}
.boton-pieza {
	margin-top: 2%;
	background: transparent;
	border: 3px solid coral;
}
.boton-pieza:hover {
	background: #55aa55;
}

.pieza-image, .pieza-image img {
	height: inherit !important;
}
.blog-front-wrapper a {
	width: 49%;
}
.trabajo, {
	padding: 20%;
	border: 2px solid #ccc;
	border-radius: 10px;

	background-color: rgba(lighten(orange,10%), 0.5);
	background-image: linear-gradient(0deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(0deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(0deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(0deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 1px, 3px, 4px, 50px;	
}
.icons-wrapper {
	background-color: rgba(lighten(coral,10%), 0.5);
	background-image: linear-gradient(0deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(0deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(0deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(0deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 1px, 1px, 1px, 5px;

	height: 20em;
	display: flex;
	justify-content: center;
	width: 23%;
	border: 1px solid #aaa;
	margin: 5% 1%;
	padding: 1%;
}
/*-----------------------------------------------start media max 400px------------------------------------------*/
@media only screen and (max-width: 400px) {
 
.pieza {
	width: 95%;
	height: 25em;
}
.pieza-col2 p {
	font-size: 12px;
}
.boton-pieza {
	padding: 0;
	width: 80%;
	height: 12%;
	font-size: 12px;
}
}